div{
width:627px;
background-color: 00ff00;

}
#blok1_tubaja:hover
{
    background-color: 	#ffa500;
    font-size:20mm
}
#blok2_tubaja:hover
{
    background-color: #90EE90;
    font-size:20mm
}
#blok3_tubaja:hover
{
    background-color: #0000FF;
    font-size:20mm
}
