div{
width:627px;
background-color: 00ff00;

}
#blok1_tubaja:hover
{
    background-color: #C0C0C0;
    font-size:20mm
}
#blok2_tubaja:hover
{
    background-color: #FFFF00;
    font-size:20mm
}
#blok3_tubaja:hover
{
    background-color: #30D5C8;
    font-size:20mm
}
